<!-- CONTENT: pain_points/index.html -->
<%= page_title( { title: 'Pain Points' } ) %>
  <div class="list-group">
    <%= render @pain_points %>
  </div> <!--End of List Group -->
<%= page_footer %>
<%= page_end %>