<div class="delphi-content">
  <div class="button-collection main-menu">
    <div class="button-row">
      <div id="open1-02" class="button-cell">Quality Mgmt &amp;<br>Points of Pain</div>
    </div>
    <div class="button-row">
      <div id="open2-02" class="button-cell">Project Status &amp; Measurements</div>
    </div>
    <div class="button-row" >
      <%= link_to "Customer Jobs &amp;<br>Process Capabilities".html_safe, process_owner_customer_jobs_path( @parent ), class: "button-cell" %>
    </div>
  </div>
</div>
