<div class="delphi-list list-of-job-categories-container">
  <h2><?php _e( 'Job Categories', 'Delphi' ) ?></h2>
  <ul class="list-of-people multi-select ">
    <li>
      <span class="subtitle">Product 1</span>
    </li>
    <li>
      <span class="subtitle">Product 2</span>
    </li>
    <li >
      <span class="subtitle">Service 1</span>
    </li>
    <li>
      <span class="subtitle">Service 2</span>
    </li>
  </ul>
</div>
