<h1>Editing <%= @person.first_name || ' ' + ' '+ @person.last_name || ' ' %></h1>

<%= render 'form', person: @person, organization: @organization %>

<%= link_to 'Show', organization_person_path( @organization, @person ) %> |
<%= link_to 'Back', organization_people_path( @organization ) %>
