<div class="job">
  <div class="job-header" role="tab" id="heading-<%=resource.id%>">
    <h5 class="mb-0">
      <%= link_to resource.job_name,
                  history_of_path(resource.id),
                  remote: true,
                  :data => {  :toggle => "collapse",
                              :parent => "#accordion",
                              :target => "#collapse-#{job.id}"

                  },
                  :aria => {  :expanded => "false",
                              :controls => "collapse-#{job.id}"
                  }%>
    </h5>
  </div>

  <div id="collapse-<%=resource.id%>"
       class="collapse"
       role="tabpanel"
       aria-labelledby="heading-<%=resource.id%>">
  </div>

</div>