<!-- render people/profile .html -->
<div class="row">
  <!-- LEFT column -->
  <div class="col-sm">
    <h1><%= resource.job_name %></h1>
    <span class="semi-bold"><%= resource.ref_number %></span>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <p><%= resource.job_description %></p>
  </div>
</div>