
<!--   BUTTONS - TYPE: FAIL/PASS  -->
<div class="button-container centered">
  <h3 class="button-proposition">Do you want to submit an update now?</h3>
  <div class="button-collection ok-cancel">
    <div class="button-row">
      <div id="no-A4" class="button-cell three-eigths x-large" >No</div>
      <div class="button-cell spacer eigth"></div>
      <a id="yes-A4" class="button-cell three-eights x-large">Yes</a>
    </div>
  </div>
</div>

<div class="delphi-content">
  <div class="button-collection main-menu">
    <div class="button-row">
      <div id="open1-02" class="button-cell">
        <?php _e('Quality Mgmt &amp;<br>Points of Pain', 'Delphi' ); ?>
      </div>
    </div>
    <div class="button-row">
      <div id="open2-02" class="button-cell">
        <?php _e('Project Status &amp; Measurements', 'Delphi' ); ?>
      </div>
    </div>
    <div class="button-row" >
      <div id="open3-02" class="button-cell">
        <?php _e('Customer Jobs &amp;<br>Process Capabilities', 'Delphi' ); ?>
      </div>
    </div>
  </div>
</div>

<!--  TOP 'CANCEL' BUTTON -->
<div class="button-collection static-buttons top">
  <div class="button-row">
    <div id="close-A1" class="button-cell icon ios-android-close three-eigths">
      <?php _e('Cancel', 'Delphi' ); ?>
    </div>
    <div class="button-cell spacer quarter"></div>
    <div id="new-A1" class="button-cell icon three-eigths default">
      <?php _e('New Job', 'Delphi' ); ?>
    </div>
  </div>
</div>

<!--  BUTTONS -->
<div class="button-collection static-buttons save-cancel-container">
  <div class="button-row">
    <div id="cancel-A2" class="button-cell half ion-close icon">
      <?php _e('Cancel', 'Delphi' ); ?>
    </div>
    <div id="save-A2" class="button-cell half ion-checkmark icon default">
      <?php _e('Save', 'Delphi' ); ?>
    </div>
  </div>
</div>

<!--  DONE EDITING BUTTON   -->
<div class="button-collection ok-cancel done-editing">
  <div class="button-row">
    <div id="done-A3" class="button-cell ion-checkmark icon">
      <?php _e('Done', 'Delphi' ); ?>
    </div>
  </div>
</div>

<!--  CANCEL / SUBMIT BUTTONS -->
<<div class="">
  <div class="button-collection ok-cancel static-buttons top blue">
    <div class="button-row">
      <div id="close-A5" class="button-cell three-eigths">
        <?php _e('Close', 'Delphi' ); ?>
      </div>
      <div class="button-cell spacer quarter"></div>
      <div id="send-A5" class="button-cell three-eigths"><i class="material-icons">send</i>
        <?php _e('Send...', 'Delphi' ); ?>
      </div>
    </div>
  </div>
</div>

<!--  BUTTONS -->
<div class="blue" >
  <div class="button-collection ok-cancel static-buttons resize-to-here ">
    <div class="button-row">
      <div id="cancel-A6" class="button-cell half ion-android-close">
        <?php _e('Cancel', 'Delphi' ); ?>
      </div>
      <div id="submit-A6" class="button-cell half default on-ios-checkmark">
        <?php _e('Save', 'Delphi' ); ?>
      </div>
    </div>
  </div>
</div>



<!--  DONE EDITING BUTTON   -->
<div class="button-collection ok-cancel done-editing">
  <div class="button-row">
    <div id="down-E2" class="button-cell ion-checkmark icon">
      <?php _e('Done', 'Delphi' ); ?>
    </div>
  </div>
</div>
</div>

<!--  BUTTONS -->
<div class="button-collection static-buttons" style="z-index:20;">
  <div class="button-row">
    <div id="cancel-F2" class="button-cell half ion-close icon" >
      <?php _e('Cancel', 'Delphi' ); ?>
    </div>
    <div id="close-F2" class="button-cell half ion-checkmark icon default">
      <?php _e('Close', 'Delphi' ); ?>
    </div>
  </div>
</div>

<div class="button-collection ok-cancel">
  <div class="button-row">
    <div id="fail-F2" class="button-cell unfavorable ion-ios-close icon three-eigths" >
      <?php _e('Failed', 'Delphi' ); ?>
    </div>
    <div class="button-cell spacer eigth"></div>
    <div id="pass-F2" class="button-cell favorable ion-ios-checkmark icon three-eights">
      <?php _e('Passed', 'Delphi' ); ?>
    </div>
  </div>
</div>

<!--  TOP 'CANCEL' BUTTON -->
<div class="button-collection static-buttons top">
  <div class="button-row">
    <div class="button-cell spacer quarter"></div>
    <div id="close-F2" class="button-cell icon ios-close half">
      <?php _e('Cancel', 'Delphi' ); ?>
    </div>
    <div class="button-cell spacer quarter"></div>
  </div>
</div>


<!-- TOP BUTTONS -->
<div class="button-collection static-buttons top">
  <div class="button-row">
    <div class="button-cell spacer quarter"></div>
    <div id="close-F4" class="button-cell icon ios-close half">
      <?php _e('Close', 'Delphi' ); ?>
    </div>
    <div class="button-cell spacer quarter"></div>
  </div>
</div>

<div><h2 class="margin-top-15"><?php _e( 'Measurement Added!', 'Delphi' ); ?></h2></div>

<!-- BUTTON -->
<div class="button-collection secondary">
  <div class="button-row">
    <div class="button-cell spacer half"></div>
    <div id="open-E4" class="button-cell half">
      <?php _e('Add Another', 'Delphi' ); ?>
    </div>
  </div>
</div>