<!-- customer_jobs/new_conformation.html -->

<!--   BUTTONS - TYPE: FAIL/PASS  -->
<div class="button-container centered">
  <h3 class="button-proposition">Do you want to submit an update now?</h3>
  <div class="button-collection ok-cancel">
    <div class="button-row">
      <div id="no-A4" class="button-cell three-eigths x-large" >No</div>
      <div class="button-cell spacer eigth"></div>
      <a id="yes-A4" class="button-cell three-eights x-large">Yes</a>
    </div>
  </div>
</div>