<!-- CONTENT: people.index.html -->
<%= page_title( { title: 'Customer Jobs' } ) %>
  <div class="list-group">
    <%= render @customer_jobs %>
  </div> <!--End of List Group -->
<%= page_footer %>
<%= page_end %>