<!-- CONTENT: customerjobs/index.html -->
<%= page_title( { title: 'Status Updates for ' + @parent.name } ) %>
<div class="list-group">
  <%= render @status_updates %>
</div> <!--End of List Group -->
<%= page_footer %>
<%= page_end %>