<!-- render customers/table.html -->
<div class="row">
  <div class="col table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox data-table">
      <thead>
      <tr>
        <th>
          <span><%= small_button( { label: 'Add a Customer', path: new_process_owner_customer_path( parent ), class: 'right'} ) %></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% resources.each do |row| %>
        <tr>
          <td >
            <span class="name"><%= row.name %></span>
            <span class="links">
              <%= link_to 'View', process_owner_customer_path( parent,row ), class: 'link' %>&nbsp;|&nbsp;
              <%= link_to 'Edit', edit_process_owner_customer_path( parent,  row ), class: 'link' %>&nbsp;|&nbsp;
            </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>