$darker_blue: #284055;
$medium_blue: #24889e;
$dark_blue: #004b61;
$light_blue: #99cad6;
$lighter_blue: #e9f3f6;
$dark_text: #516475;
$text: #696d6d;
$green: #76b043;
$red: #dd714b;

$background: #fff;
$background_emphasis: #c8e2e9;
$background_neutral: #f5f5f5;
$background_error: #f0f0f0;
$background_panels: #e9f3f6;

$background_input: #c7c8c8;
$border-neutral: #c7c8c8;

$transparent: rgba(0, 0, 0, 0);

$green_faded: rgba(118, 176, 67, 0.4);
$red_faded: rgba(221, 113, 75, 0.4);
$light_blue_faded: rgba(36, 136, 158, 0.4);
$medium_blue_faded: rgba(36, 136, 158, 0.4);
$dark_blue_faded: rgba(0, 75, 97, 0.4);

$icon_shadow: #ddedf1;

@import url('https://fonts.googleapis.com/css?family=Roboto');
$body_font: Roboto, non-serif;
$header_font: Roboto, non-serif;