@import '_color-palette.scss';

/* DelphiSkin1 ******************************************************************************************************* */
body,
html {
  background: $background;
}
body.delphi-skin-1 {
  background: $background;
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* ripple effect */
  /* fixes initial animation run, without user input, on page load.
     */
  /* ripple
 */
  /* to re-trigger the animation with just CSS, we need to duplicate the keyframes
     */
  /* fixes initial animation run, without user input, on page load.
     */
  /* forms */
  /* widget */
  /* tables */
  /* pages */
  .txt-color-green {
    color: $green !important;
  }
  .bg-color-greenDark {
    background: #2E7D32 !important;
  }
  .txt-color-greenDark {
    color: #2E7D32 !important;
  }
  .bg-color-greenLight {
    background: #43A047!important;
  }
  .txt-color-greenLight {
    color: #43A047 !important;
  }
  .bg-color-purple {
    background: #9C27B0 !important;
  }
  .txt-color-purple {
    color: #9C27B0 !important;
  }
  .bg-color-magenta,
  .jarviswidget-color-magenta > header {
    background: #AA00FF !important;
  }
  .jarviswidget-color-magenta > header {
    border-color: #AA00FF!important;
  }
  .txt-color-magenta,
  nav ul li.active > a:before {
    color: #AA00FF !important;
  }
  .bg-color-pink {
    background: #E91E63 !important;
  }
  .txt-color-pink {
    color: #E91E63 !important;
  }
  .bg-color-pinkDark {
    background: #AD1457 !important;
  }
  .txt-color-pinkDark {
    color: #AD1457 !important;
  }

  .txt-color-blueDark {
    color: $dark_blue !important;
  }
  .bg-color-teal {
    background: #009688 !important;
  }
  .txt-color-teal {
    color: #009688 !important;
  }
  .bg-color-yellow,
  .slider-warning + .slider-track > .slider-selection {
    background: #FFEB3B !important;
  }
  .alert-warning {
    border-color: #F9A825;
    color: #5A4E3F;
    background-color: #FFEB3B;
  }
  .label-warning {
    background-color: #FFEB3B;
    color: #333;
  }
  .txt-color-yellow {
    color: #FFEB3B !important;
  }
  .bg-color-orange {
    background: #FF9800 !important;
  }
  .txt-color-orange {
    color: #FF9800 !important;
  }
  .bg-color-orangeDark {
    background: #E65100 !important;
  }
  .txt-color-orangeDark {
    color: #E65100 !important;
  }
  .bg-color-red,
  .alert-danger,
  .slider-danger + .slider-track > .slider-selection {
    background: #F44336 !important;
  }
  .txt-color-red {
    color: #F44336 !important;
  }
  .bg-color-redLight {
    background: #FF5252 !important;
  }
  .alert-danger {
    border-color: #B71C1C;
  }
  .txt-color-redLight {
    color: #FF5252 !important;
  }
  .text-primary {
    color: $darker_blue !important;
  }
  .text-success {
    color: #00C853 !important;
  }
  .text-danger {
    color: #C62828 !important;
  }
  .text-warning {
    color: #FF5722 !important;
  }
  .text-info {
    color: #607D8B !important;
  }
  .bg-color-blue,
  .onoffswitch-inner:before,
  .open > .dropdown-toggle.btn-primary,
  .select2-container-multi .select2-choices .select2-search-choice,
  .bootstrap-tagsinput > span {
    background: $medium_blue !important;
  }
  .txt-color-blue {
    color: $medium_blue !important;
  }
  .bg-color-blueLight,
  .slider-selection,
  .noUi-connect,
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover,
  .label-primary {
    background: $light_blue !important;
  }
  .btn-primary {
    background: $medium_blue;
    border-color: darken( $medium_blue , 5% ) !important;
  }
  .btn-primary:active,
  .btn-primary:hover,
  .btn-primary:focus {
    background: darken( $medium_blue , 5% ) !important;
  }
  .btn-primary.active,
  .btn-primary:active,
  .btn-primary:hover,
  .open > .dropdown-toggle.btn-primary {
    border-color: darken( $medium_blue , 5% ) !important;
  }
  .btn-primary.active.focus,
  .btn-primary.active:focus,
  .btn-primary.active:hover,
  .btn-primary:active.focus,
  .btn-primary:active:focus,
  .btn-primary:active:hover,
  .open > .dropdown-toggle.btn-primary.focus,
  .open > .dropdown-toggle.btn-primary:focus,
  .open > .dropdown-toggle.btn-primary:hover {
    background: darken( $medium_blue , 5% ) !important;
    border-color: darken( $medium_blue , 5% ) !important;
  }
  .btn-warning {
    background: #FF9800;
    border-color: #cc7a00 !important;
  }
  .btn-warning:active,
  .btn-warning:hover,
  .btn-warning:focus {
    background: #cc7a00 !important;
  }
  .btn-warning.active,
  .btn-warning:active,
  .btn-warning:hover,
  .open > .dropdown-toggle.btn-warning {
    border-color: #cc7a00 !important;
  }
  .btn-warning.active.focus,
  .btn-warning.active:focus,
  .btn-warning.active:hover,
  .btn-warning:active.focus,
  .btn-warning:active:focus,
  .btn-warning:active:hover,
  .open > .dropdown-toggle.btn-warning.focus,
  .open > .dropdown-toggle.btn-warning:focus,
  .open > .dropdown-toggle.btn-warning:hover {
    background: #cc7a00 !important;
    border-color: #cc7a00 !important;
  }
  .pagination > li > a,
  .pagination > li > span {
    color: $light_blue;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    color: #fff;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    border-color: #0398db;
  }
  .btn-danger {
    color: #fff;
    background-color: #F44336;
    border-color: #f32c1e;
  }
  .btn-danger:active,
  .btn-danger:hover,
  .btn-danger:focus {
    background-color: #ba160a;
  }
  .btn-danger.active,
  .btn-danger:active,
  .btn-danger:hover,
  .open > .dropdown-toggle.btn-warning {
    border-color: #ea1c0d !important;
  }
  .btn-danger.active.focus,
  .btn-danger.active:focus,
  .btn-danger.active:hover,
  .btn-danger:active.focus,
  .btn-danger:active:focus,
  .btn-danger:active:hover,
  .open > .dropdown-toggle.btn-danger.focus,
  .open > .dropdown-toggle.btn-danger:focus,
  .open > .dropdown-toggle.btn-danger:hover {
    background: #ea1c0d !important;
    border-color: #ea1c0d !important;
  }
  .label-danger {
    background-color: #F44336;
  }
  .alert-success,
  .btn-success {
    border-color: #388E3C;
    color: #FFF;
    background-color: $green;
  }
  .label-success {
    background-color: $green;
  }
  .btn-success:hover,
  .btn-success:active,
  .btn-success:focus {
    background: #3d8b40;
    border-color: #388E3C;
  }
  .btn-success.active.focus,
  .btn-success.active:focus,
  .btn-success.active:hover,
  .btn-success:active.focus,
  .btn-success:active:focus,
  .btn-success:active:hover,
  .open > .dropdown-toggle.btn-success.focus,
  .open > .dropdown-toggle.btn-success:focus,
  .open > .dropdown-toggle.btn-success:hover {
    border-color: #388E3C;
    background: #3d8b40;
  }
  .txt-color-blueLight {
    color: $light_blue !important;
  }
  .bg-color-blueDark {
    background: $dark_blue !important;
  }
  .alert-info,
  .btn-info {
    border-color: $light_blue;
    color: #01579B;
    background-color: #B3E5FC;
  }
  .label-info {
    background-color: #B3E5FC;
  }
  .btn-info:hover,
  .btn-info:active,
  .btn-info:focus,
  .btn-info.active,
  .btn-info:active,
  .btn-info:hover,
  .open > .dropdown-toggle.btn-info {
    background: #82d4fa;
    border-color: $light_blue;
  }
  .slider-info + .slider-track > .slider-selection {
    background-color: #B3E5FC;
  }
  .ajax-notifications {
    background: #D8F4FF;
  }
  .ajax-notifications .fa-4x.fa-border {
    color: $medium_blue;
    border-color: $medium_blue;
  }
  aside,
  nav ul ul {
    background: $background_panels;
  }
  .nav-tabs > li.active > a {
    -webkit-box-shadow: 0 2px 0 #E91E63;
    -moz-box-shadow: 0 2px 0 #E91E63;
    box-shadow: 0 2px 0 #E91E63;
    z-index: 10;
  }
  #header,
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-menu > li > a:hover {
    background: $medium_blue;
  }
  #content {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }
  #content > .row {
    margin-bottom: 20px;
  }
  .page-title {
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: normal;
  }
  .page-title > .fa {
    display: none;
  }
  .page-footer {
    background: $dark_text;
  }
  #updating-chart.txt-color-blue {
    color: #4d7686 !important;
  }
  .ribbon-button-alignment {
    display: none;
  }
  #ribbon {
    background: rgba(255, 255, 255, 0.4);
  }
  .btn-header > :first-child > a,
  #logo-group span#activity {
    background: none;
    border: none;
    color: #fff;
    border-radius: 50%;
  }
  #project-selector,
  .project-selector,
  #project-context > :first-child,
  .project-context > :first-child,
  .header-dropdown-list > li > .dropdown-toggle {
    color: #fff !important;
    text-shadow: none;
  }
  .open > .dropdown-menu {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: none;
    -moz-animation-fill-mode: none;
    -o-animation-fill-mode: none;
    animation-fill-mode: none;
  }
  .dropdown .dropdown-menu.pull-right,
  .bootstrap-select .dropdown-menu.pull-right,
  .btn-group .dropdown-menu.pull-right,
  .date-picker .dropdown-menu.pull-right,
  .dropdown .dropdown-menu.dropdown-menu-right,
  .bootstrap-select .dropdown-menu.dropdown-menu-right,
  .btn-group .dropdown-menu.dropdown-menu-right,
  .date-picker .dropdown-menu.dropdown-menu-right,
  .dropdown-menu.pull-right {
    -webkit-transform-origin: top right !important;
    -moz-transform-origin: top right !important;
    -ms-transform-origin: top right !important;
    transform-origin: top right !important;
  }
  .dropdown .dropdown-menu.pull-left,
  .bootstrap-select .dropdown-menu.pull-left,
  .btn-group .dropdown-menu.pull-left,
  .dropdown-menu.pull-left,
  .date-picker .dropdown-menu.pull-left,
  .dropdown .dropdown-menu.dropdown-menu-left,
  .bootstrap-select .dropdown-menu.dropdown-menu-left,
  .btn-group .dropdown-menu.dropdown-menu-left,
  .date-picker .dropdown-menu.dropdown-menu-left,
  .project-selector + .dropdown-menu {
    -webkit-transform-origin: top left !important;
    -moz-transform-origin: top left !important;
    -ms-transform-origin: top left !important;
    transform-origin: top left !important;
  }
  .dropdown,
  .dropdown-menu,
  .btn-group .dropdown-menu,
  .date-picker .dropdown-menu {
    -webkit-transform-origin: top left ;
    -moz-transform-origin: top left ;
    -ms-transform-origin: top left ;
    transform-origin: top left ;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
  }
  .project-selector + .dropdown-menu {
    margin-top: -27px;
  }
  .header-dropdown-list .dropdown-menu {
    margin-top: -20px;
  }
  .dropdown.open .dropdown-menu,
  .dropup.open .dropdown-menu,
  .bootstrap-select.open .dropdown-menu,
  .btn-group.open .dropdown-menu,
  .open > .dropdown-menu {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .login-info {
    height: 120px;
    background: asset-url("cover.png") no-repeat center center;
    margin-top: -1px !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0px;
  }
  .login-info > span {
    height: 119px;
    border: 0px;
    padding: 0px;
  }
  .login-info a {
    display: block;
    margin: 0;
    padding: 10px;
  }
  .login-info a span {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-left: -10px;
    margin-top: 22px;
    color: #fff;
  }
  .login-info img {
    border-radius: 50%;
    width: 50px;
    border: 3px solid rgba(0, 0, 0, 0.14);
    box-sizing: content-box;
  }
  #logo img {
    display: none;
  }
  #activity b.badge {
    padding: 4px;
  }
  #logo-group > span#logo:before {
    content: "SmartAdmin";
    font-size: 17px;
    color: #fff;
    font-weight: 300;
    margin-top: 1px;
    display: block;
  }
  .header-search > input[type=text] {
    background: transparent;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-color: #fff;
    color: #fff;
    padding: 0;
  }
  .header-search > button {
    color: #fff;
  }
  .header-search input[type=text]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  .header-search input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7);
  }
  .header-search input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7);
  }
  .header-search input[type=text]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  nav ul li a,
  nav ul li.open > a,
  nav ul li.open > a b {
    color: #4C4C4C !important;
  }
  nav ul .active nav ul > a,
  nav ul li.open nav ul > a {
    color: #3C3C3C !important;
  }
  nav ul li a:hover,
  ul li nav ul > a:hover {
    background-color: rgba(69, 69, 69, 0.05);
  }
  nav ul li a {
    font-size: 13px;
  }
  nav > ul > li > a {
    font-weight: 400;
    text-transform: uppercase;
    padding: 14px 10px 14px 11px;
  }
  nav > ul > li > a b {
    margin-top: 6px;
  }
  nav ul li a:active {
    background: none;
  }
  .login-info a span + i {
    display: none;
  }
  #ribbon .breadcrumb li:last-child,
  #ribbon .breadcrumb > .active,
  #ribbon .breadcrumb,
  #ribbon .breadcrumb a,
  .breadcrumb > li + li:before {
    color: #374850 !important;
  }
  .ajax-dropdown,
  #speech-btn > :first-child > a + .popover {
    -webkit-box-shadow: 0 0px 30px rgba(30, 30, 100, 0.75);
    -moz-box-shadow: 0 0px 30px rgba(30, 30, 100, 0.75);
    box-shadow: 0 0px 30px rgba(30, 30, 100, 0.75);
  }
  nav > ul > li > ul::before,
  nav > ul ul li::before {
    border: none;
  }
  .minifyme {
    background: $medium_blue;
    color: #FFFFFF;
    position: absolute;
    width: 29px;
    border-radius: 50%;
    z-index: 999;
    right: -12px;
    padding: 1px 3px;
    border-bottom: 1px solid #3D6A8A;
  }
  nav li a {
    position: relative;
    overflow: hidden;
  }
  nav li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -120px;
    margin-top: -150px;
    background: $dark_text;
    border-radius: 100%;
    opacity: .3;
    transform: scale(0);
  }
  @keyframes ripple {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  nav li a:not(:active):after {
    animation: ripple 1.5s ease-in-out;
  }
  nav li a:after {
    visibility: hidden;
  }
  nav li a:active {
    background-color: transparent !important;
  }
  .checkbox label > input[type=checkbox]:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    margin-left: -18px;
    margin-top: -18px;
    background: $darker_blue;
    border-radius: 100%;
    opacity: .6;
    transform: scale(0);
  }
  .checkbox label > input[type=checkbox]:focus:after {
    animation: rippleDuplicate 0.5s ease-out;
  }
  .checkbox label > input[type=checkbox]:checked {
    animation-name: rippleDuplicate;
  }
  .checkbox label > input[type=checkbox]:focus:after {
    visibility: hidden;
  }
  .checkbox label > input[type=checkbox]:focus:after {
    visibility: visible;
  }
  .smart-form .checkbox input:focus + i,
  .smart-form .input input:focus,
  .smart-form .radio input:focus + i,
  .smart-form .select select:focus,
  .smart-form .textarea textarea:focus,
  .smart-form .toggle input:focus + i {
    border-color: $medium_blue;
  }
  .smart-form .rating input:checked ~ label,
  .smart-form .checkbox input + i:after {
    color: $medium_blue;
  }
  .form-control[disabled],
  .form-control[readonly],
  .fieldset[disabled] .form-control,
  .smart-form .select select,
  .smart-form .textarea textarea {
    border-bottom: 1px dashed #E0E0E0;
  }
  .form-control-feedback {
    width: auto;
    height: auto;
  }
  .smart-form .checkbox input:checked + i,
  .smart-form .radio input:checked + i,
  .smart-form .toggle input:checked + i {
    border-color: transparent;
  }
  .form-control,
  .smart-form .icon-append,
  .smart-form .icon-prepend,
  .smart-form .input input,
  .smart-form .select select,
  .smart-form .textarea textarea {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .form-control,
  .smart-form .icon-append,
  .smart-form .icon-prepend,
  .smart-form .select select,
  .smart-form .textarea textarea {
    padding-left: 0px;
  }
  .form-control:not(.ui-autocomplete-loading) {
    background: transparent;
  }
  .input-icon-left input[type="text"].form-control,
  .icon-addon > input[type="text"] {
    padding-left: 32px;
  }
  input[type=checkbox],
  input[type=radio] {
    margin-top: 2px;
    line-height: normal;
  }
  .dataTables_filter > label:focus .input-group-addon {
    border-bottom-color: $medium_blue;
  }
  .dataTables_filter .input-group-addon {
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    background: transparent;
  }
  .dataTables_filter .input-group-addon + .form-control {
    background: transparent;
  }
  .input-group-addon:last-child,
  .input-group-addon:first-child {
    border: 1px solid inherit;
  }
  .input-group .form-control:first-child {
    border-right: 0px !important;
  }
  .input-group-addon + .form-control[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ui-sortable .jarviswidget-sortable > header {
    box-shadow: none !important;
  }
  .jarviswidget > header {
    border-bottom: 0px;
  }
  .widget-toolbar,
  .jarviswidget-ctrls .button-icon {
    border: 0px;
  }
  .widget-toolbar > .color-box {
    outline: none !important;
    border-radius: 30%;
    box-shadow: 0 0 1px 1px rgba(56, 56, 56, 0.3);
  }
  .color-box,
  .color-select li span {
    border-radius: 30%;
  }
  .jarviswidget header .nav-tabs > li.active > a,
  .jarviswidget header .nav-tabs > li.active > a:focus,
  .jarviswidget header .nav-tabs > li.active > a:hover {
    border: 0px !important;
  }
  .jarviswidget-sortable.ui-sortable-helper {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .jarviswidget-placeholder {
    background: linear-gradient(90deg, #0000ff 50%, transparent 50%), linear-gradient(90deg, #0000ff 50%, transparent 50%), linear-gradient(0deg, #0000ff 50%, transparent 50%), linear-gradient(0deg, #0000ff 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0%;
    animation: border-dance 4s infinite linear;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  @keyframes border-dance {
    0% {
      background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }
    100% {
      background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
  }
  .MessageBoxContainer {
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    background: #fff;
    color: #333;
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    padding: 16px 10px;
  }
  .dt-toolbar {
    padding: 14px 20px 11px;
  }
  .inbox-nav-bar,
  .inbox-body .table-wrap,
  .inbox-side-bar,
  .inbox-info-bar .form-group input,
  .inbox-info-bar .select2-container-multi .select2-choices,
  .inbox-compose-footer {
    background: #ffffff;
  }
  .inbox-compose-footer {
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .inbox-body {
    box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.1);
  }
  .inbox-download,
  .inbox-message {
    border-bottom: 0px;
  }
  .inbox-info-bar .form-group input,
  .inbox-info-bar .select2-container-multi .select2-choices {
    border-color: transparent !important;
  }
  #inbox-content {
    margin-bottom: 30px !important;
  }
  body.delphi-skin-1.desktop-detected .inbox-download,
  body.delphi-skin-1.desktop-detected .inbox-compose-footer {
    padding-bottom: 56px;
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  ::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid transparent;
    min-height: 10px;
  }
  .inbox-message {
    background: #fff;
  }
  .note-editor .note-editable {
    background-color: rgba(33, 150, 243, 0.15);
  }
  .note-editor .note-editable:focus {
    background: #fff;
  }
  .inbox-nav-bar {
    height: auto !important;
  }
  .superbox-show {
    background-color: #37474F;
  }
  .superbox-list.active:before {
    color: #37474F;
  }
  .superbox-imageinfo span {
    color: rgba(255, 255, 255, 0.5);
  }
  #sparks {
    display: none;
  }
  
  .page-footer .txt-color-blueLight {
    color: #ffffff !important;
  }
  .input-group .form-control:first-child {
    border-right: 1px solid #ccc;
  }

}

@keyframes rippleDuplicate {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}


body.delphi-skin-1.minified .login-info {
  height: 55px;
}
body.delphi-skin-1.minified .login-info img {
  width: 34px;
}
body.delphi-skin-1.minified .login-info a {
  padding: 10px 0px;
}
body.delphi-skin-1.minified .login-info a span {
  display: none;
}
body.delphi-skin-1.minified .minifyme {
  border-radius: 0%;
  left: 0px;
  width: 45px;
  border: 0px;
}
body.delphi-skin-1.minified nav > ul > li > a > .menu-item-parent,
body.delphi-skin-1.minified nav > ul > li > ul {
  left: 45px;
}
body.delphi-skin-1.minified nav > ul > li > a > .menu-item-parent {
  padding-top: 4px;
  top: 0px;
}
body.delphi-skin-1.minified nav > ul > li ul li {
  background: #ffffff;
  overflow: hidden;
}
body.delphi-skin-1.minified nav li a {
  overflow: visible;
  border-left: 1px solid #C1C1C1;
  border: 0px;
}
body.delphi-skin-1.minified nav > ul > li {
  border-bottom: 0px !important;
  border-top: 0px !important;
}
body.delphi-skin-1.minified nav > ul > li > ul {
  padding-top: 0px;
  border: 0px;
  background: #f5f5f5;
  border-left: 1px solid #CACACA;
}
body.delphi-skin-1.menu-on-top aside#left-panel nav > ul > li {
  border: 0px;
}
body.delphi-skin-1.menu-on-top aside#left-panel {
  border: 0px;
}
body.delphi-skin-1.menu-on-top aside#left-panel nav > ul > li:hover {
  background: #ffffff;
}
body.delphi-skin-1.menu-on-top nav ul ul li a:hover,
body.delphi-skin-1.menu-on-top nav ul ul li:hover > a,
body.delphi-skin-1.menu-on-top nav ul ul ul li a:hover,
body.delphi-skin-1.menu-on-top nav ul li a:hover,
body.delphi-skin-1.menu-on-top nav ul > a:hover,
body.delphi-skin-1.menu-on-top aside#left-panel nav > ul > li:hover > a {
  color: #ffffff !important;
  background-color: $medium_blue;
}

