<!-- MAIN CONTENT -->
<div id="content" class="container">
  <div class="col-sm-12">
    <h1>All Organizations</h1>
    <div class="row">
      <%= render template: 'organizations/_table' %>
    </div>
  </div>
</div>


