<!-- MAIN CONTENT -->
<div id="content" class="container">
  <p id="notice"><%= notice %></p>
  <h1>New Organization</h1>
</div>

<%= render 'form', organization: @organization %>

<div class="content-foot ">
  <%= back_button( { path: 'organizations_path' } ) %>
</div>
