<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  </div>
  <!-- END RIBBON -->
<% end %>
<% content_for :html_id, "extr-page" %>
<% content_for :body_class, "animated fadeInDown" %>
<% content_for :top_right do %>
  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span>
<% end %>
